// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

.container-app {
    width: 100vw;
    height: 100vh;
    background-color: #b4b4b4;
}

.main-container {
    display: flex;
    flex-direction: column;
}

.main-title {
    font-weight: bold;
    color: #5c5c5c;
}

.component-container {
    width: 80vw;
    height: 80vh;
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 50px;
}
